<div class="col-xs-19 col-xs-offset-1">
	<h1>About Splurty</h1>
	<br />
	<p>
		This site was built by <a target="_blank" href="https://github.com/BLilley2083">Brett Lilley.</a>
		as part of the Firehose Project Ruby on Rails event at the Thrill Mill in Pittsburgh, PA.
	</p>
	<br />
	<p>
		Brett is a Computer Science major at the University of Pittsburgh and a current Interface Developer at the MeshNet startup base out of the ThrillMill.
	</p>
</div>